<mat-table [dataSource]="users$ | async" class="mat-elevation-z8">
  <ng-container [matColumnDef]="'username'">
    <mat-header-cell *matHeaderCellDef>{{'Username'}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
  </ng-container>
  <ng-container [matColumnDef]="'email'">
    <mat-header-cell *matHeaderCellDef>{{'Email'}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>
  <ng-container [matColumnDef]="'isEmailConfirmed'">
    <mat-header-cell *matHeaderCellDef>{{'Confirmed'}}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isEmailConfirmed}} </mat-cell>
  </ng-container>
  <ng-container [matColumnDef]="'role'">
    <mat-header-cell *matHeaderCellDef>{{'Role'}}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-select [(value)]="element.role" [disabled]="element.id === (currentUser | async)?.id"
                  (selectionChange)="saveRole(element)">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="selectable-row" [class.selected]="selectedUser?.id === row.id"
           (click)="selectRow(row)" (dblclick)="openUser(row)"></mat-row>
</mat-table>
