<form class="register-form" [formGroup]="_form" (ngSubmit)="register()">
  <mat-form-field class="username-field field">
    <input matInput type="text" id="username" [placeholder]="'Login'" formControlName="username"/>
  </mat-form-field>
  <mat-form-field class="password-field field">
    <input matInput type="password" id="password" [placeholder]="'Password'" formControlName="password"/>
  </mat-form-field>
  <mat-form-field class="password-field field">
    <input matInput type="email" id="email" [placeholder]="'Email'" formControlName="email"/>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" class="login-button button"
          [disabled]="_form.invalid || _form.pending">{{'Register'}}
  </button>
</form>
