@import '~@angular/material/theming';
@import '../../../../../styles/palette';

.auth-form-container {
  display: flex;
  position: relative;
  margin: auto;
  max-width: 600px;
  min-width: 400px;
  background-color: mat-color($primary);
  color: mat-color($primary, 900);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
